@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Minio with AWS-S3 test</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <button onclick="window.open('@Url.Action("DownloadImageAsync", "Home")');" target="_blank">Get Image test</button>
        <button onclick="window.open('@Url.Action("DownloadPDFAsync", "Home")');" target="_blank">Get PDF test</button>
    </div>
</div>