@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Minio with AWS-S3 test</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="~/Home/DownloadAsync">Click here to get file or has problem.</a>
    </div>
</div>